/********************Global*********************/
td .localizedTime {
    height: 20px;
    overflow: hidden;
}

td:hover .localizedTime {
    height: 20px !important;
}

a:link {
	COLOR: blue;
	TEXT-TRANSFORM: none;
	TEXT-DECORATION: none;
}

a:visited {
	COLOR: blue;
	TEXT-TRANSFORM: none;
	TEXT-DECORATION: none;
}

a:hover {
	COLOR: red;
	TEXT-DECORATION: underline;
}

div.ptt {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: blue;
	padding: 10px;
}

div.ptx {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
}

p.pst {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: blue;
	margin-bottom: 0px;
}

pre.sio {
	font-family: Courier New, Courier, monospace;
	font-size: 12pt;
}

.standing th {
	text-align: center;
}

.standing td {
	text-align: center;
}

.center {
	text-align: center;
}

.time {
	text-align: center;
	width: 155px;
}

.textBG {
	background-color: #EAEBFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	border-style: dotted;
	border-width: 2px;
}

.sioBG {
	background-color: #EAEBFF;
	padding-left: 10px;
}

.plm {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
	padding-left: 20px;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.id {
	text-align: center;
	width: 50px;
}

.status {
	width: 80px;
}

.select {
	width: 180px;
}

.opr {
	width: 60px;
}

.form_title {
	padding: 5px 5px;
	vertical-align: top;
	text-align: right;
	font-weight: bold;
}

.form_value {
	padding: 5px;
}

.description {
	text-align: center;
	background-color: #F8F8F8;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	MARGIN-top: 20px;
	width: 960px;
	font-size: 15px;
}

.errorMessage {
	font-weight: bold;
	color: red;
}

.white {
	background-color: #ebfff4;
	color: black;
}

.green {
	background-color: #a9f5af;
	color: black;
}

.red {
	background-color: #FFDDDD;
	color: black;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

/***************table font ******************/
table.display {
	font-size: 14px;
	line-height: 20px;
	font-family: Verdana;
}

/***************struts2 error ******************/
.errorMessage {
	margin: 2px;
}

/*************** home page ******************/
div#title {
	margin: 22px;
	text-align: center;
	font-size: 32px;
	font-family: "Courier New", Courier;
	font-weight: bold;
}

#ojs span {
    width: 150px;
    display: block;
    float: left;
    line-height: 40px;
}

#ojs img {
    height: 25px;
    margin-right: 5px;
}

#ojs a:link {
	font-size: 16px;
	font-family: Verdana;
	color: green;
}

#ojs a:visited {
	font-size: 16px;
	font-family: Verdana;
	color: green;
}

#contest_menu {
	width: 100px;
}

/********************Top Menu*********************/
#cssmenu > ul > li > a#my_account {
	text-transform: none;
}

/********************listOL*********************/
#listOL table {
	table-layout: fixed;
}

#listOL td {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 3px 10px;
}

#listOL td.ip {
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	width: 150px;
}

#listOL td.address {
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	width: 400px;
}

#listOL th.ip {
	width: 150px;
}

#listOL th.browser {
	width: 70px;
}

#listOL th.os {
	width: 70px;
}

/********************Background*********************/
body {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(203,
		250, 225)), color-stop(0.95, rgb(255, 255, 255)));
	background-image: -moz-linear-gradient(center bottom, rgb(203, 250, 225)
		10%, rgb(255, 255, 255) 95%);
	background-attachment: fixed;
}