
/********************listProblem*********************/
#listProblem {
    table-layout: fixed;
}

#listProblem td {
    padding: 3px 6px;
}

#listProblem th.oj {
    width: 100px;
}

#listProblem th.prob_num {
    width: 90px;
}

#listProblem th.title {
    width: auto;
}

#listProblem th.date {
    width: 110px;
}

#listProblem th.source {
    width: 400px;
}

#listProblem td.oj {
    text-align: right;
}

#listProblem td.prob_num {
    text-align: left;
    overflow: hidden;
    padding-right: 6px !important;
}

#listProblem td.title {
    padding-left: 6px !important;
}

#listProblem td.date {
    text-align: center;
}

#listProblem td.source {
/*     white-space: normal;
    word-break: break-all;
    word-wrap: break-word; */
}

#listProblem td.source div {
    height: 20px;
    overflow: hidden;
}

#listProblem td.source:hover div {
    height: auto;
}

#listProblem tr.odd {
    background-color: #E2E4FF;
}

#listProblem tr.even {
    background-color: white;
}

#listProblem tr.Running.odd {
    background-color: #FFDDDD !important;
}

#listProblem tr.Running.even {
    background-color: #FFEEEE !important;
}

#listProblem_wrapper .dataTables_paginate {
    float: left;
    text-align: center;
}

#listProblem_wrapper .dataTables_length {
    float: right;
}

#listProblem_wrapper #buttonContainer {
    float: left;
    padding-left: 40px;
}

table.dataTable thead th div.DataTables_sort_wrapper span.ui-selectmenu-button  {
    position: relative;
    height: 20px;
    margin-top: 3px;
}

table.dataTable thead th div.DataTables_sort_wrapper span.ui-selectmenu-text  {
    position: absolute;
    padding-top: 0;
    right: 30px;
    left: 0px;
}

#listProblem_wrapper .ui-selectmenu-button span.ui-selectmenu-text {
    overflow: visible;
}
